
mixin head(page_title)
    doctype html
    html(lang='en')
      head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        //The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
        meta(name='description' content='')
        meta(name='author' content='')
        //<link rel="icon" href="../../favicon.ico">

        title= page_title

        //Bootstrap core CSS
        // build:css css/roomready-clean.css
        link(href='css/bootstrap.min.css' rel='stylesheet')
        link(href='css/roomready.min.css' rel='stylesheet')
        // /build
        
mixin pageheader
  header.main-header.navbar.navbar-default.navbar-static-top.navbar-inverse
    div.header-container.container
      div.row
        div.navbar-header
          a.navbar-brand(href='#')
            img(alt='Room Ready' src='img/room-ready-logo.png')
        div
          ul.nav.navbar-right
            li 
              h5.SystemHostname System Hostname
            li 
              h5.SystemType System Type

mixin navigation(currentPage)
  -var menu = { 'Home': 'home.html', 'Setup': 'setup-collector-config.html', 'Security': 'security-certificates.html', 'Maintenance': 'maintenance.html', 'RR-Admin': 'rradmin-licenses.html', 'Help': 'help.html'};
  
  nav.main-nav.navbar.navbar-top.navbar-inverse
    div.container
      div.navbar-header
        button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
          span.sr-only Main Menu
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div#navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-center(id=currentPage)
          each val, key in menu
            if key === currentPage
              li
                a.active(href=val, title=key)= key
            else
              li
                a(href=val, title=key)= key

mixin subnavigation(active, menu)
  div.list-group
    each val, key in menu
      if key === active
        a.list-group-item.active(href=val, title=key)= key
      else
        a.list-group-item(href=val, title=key)= key

//- Setup Menu Items
mixin setupMenu(active)
  -var menu = { 'Collector Config': 'setup-collector-config.html', 'External Devices': 'setup-external-devices.html', 'Codec Configuration': 'setup-codec-configuration.html', 'Spark Services': 'setup-spark-services.html' };
  +subnavigation( active , menu )

//- Security Menu Items
mixin securityMenu(active)
  -var menu = { 'Certificates': 'security-certificates.html', '802.1x': 'security-8021x.html', 'Users': 'security-users.html' };
  +subnavigation( active , menu )

//- Maintenance Menu Items
mixin maintenanceMenu(active)
  -var menu = { 'Maintenance': 'maintenance.html' };
  +subnavigation( active , menu )

//- RR-Admin Menu Items
mixin rradminMenu(active)
  -var menu = { 'Licenses': 'rradmin-licenses.html', 'Remote Rooms': 'rradmin-remote-rooms.html', 'Other Integrations': 'rradmin-other-integrations.html' };
  +subnavigation( active , menu )

//- Help Menu Items
mixin helpMenu(active)
  -var menu = { 'Help': 'help.html', 'Downloads': 'help-downloads.html' };
  +subnavigation( active , menu )

mixin remoteDeviceStatus
  div.row.remoteDevice
    div.col-xs-12.col-md-12
      div.content-block
        h5 Remote Device Status
        div.table-responsive
          table#RemoteDevice.table
            tr
              th Room Name
              th IP Address
              th Status
              th Options
            tr
              td.roomName Redbird Room
              td.ipAddress 192.168.101.40
              td.status.issues Issues
              td.options 
                button Update
                button Configure
                button Capture
            tr
              td.roomName Engineering Room
              td.ipAddress 192.168.101.40
              td.status.online Online
              td.options 
                button Update
                button Configure
                button Capture
            tr
              td.roomName Redbird Room
              td.ipAddress 192.168.101.40
              td.status.offline Offline
              td.options 
                button Update
                button Configure
                button Capture